.entities {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.entity {
  position: absolute;
  color: transparent;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  background-image: url('/img/tileset3.png');
  transition: opacity 300ms;
  bottom: 0;
  right: 0;
}

.entity--hurting {
  opacity: 0.5;
}

.entity--mob {
  background-image: url('/img/monster-sprites.png');
  transition: opacity 300ms, transform 300ms;
}

.entity--key {
  background-position: -32px -160px;
  color: transparent;
}

@keyframes entity--torch {
  0% {
    background-position: -128px -128px;
  } 10% {
    background-position: -160px -128px;
  } 20% {
    background-position: -192px -128px;
  } 30% {
    background-position: -224px -128px;
  } 40% {
    background-position: -96px -128px;
  }
}

.entity--torch {
  bottom: -16px;
  background-position: -96px -128px;
  animation: entity--torch 2000ms steps(1) infinite;
  color: transparent;
}

.entity--torch-light {
  background-position: -64px -128px;
  color: transparent;
}

.entity--chest {
  background-position: -64px -160px;
  color: transparent;
  bottom: -4px;
}

.entity--door {
  height: 64px;
  top: -38px;
  background-position: -128px -160px;
  color: transparent;

  &--open {
    background-position: -160px -160px;
  }
}

.entity--spikes {
  background-position: 0 -160px;
  color: transparent;
}
