@keyframes animateWalkRight {
  0% {
    background-position: 0 -32px;
  } 50% {
    background-position: 0 -64px;
  }
}

@keyframes animateWalkUp {
  0% {
    background-position: -32px -32px;
  } 50% {
    background-position: -32px -64px;
  }
}

@keyframes animateWalkLeft {
  0% {
    background-position: -64px -32px;
  } 50% {
    background-position: -64px -64px;
  }
}

@keyframes animateWalkDown {
  0% {
    background-position: -96px -32px;
  } 50% {
    background-position: -96px -64px;
  }
}

@keyframes animateAttackRight {
  0% {
    width: 64px;
    background-position: 0 -128px;
  } 15% {
    background-position: -64px -128px;
  } 30% {
    background-position: -128px -128px;
  } 45% {
    background-position: -192px -128px;
  } 60% {
    background-position: -128px -128px;
  } 75% {
    background-position: -64px -128px;
  }
}

@keyframes animateAttackLeft {
  0% {
    width: 64px;
    left: 96px;
    background-position: 0 -160px;
  } 15% {
    background-position: -64px -160px;
  } 30% {
    background-position: -128px -160px;
  } 45% {
    background-position: -192px -160px;
  } 60% {
    background-position: -128px -160px;
  } 75% {
    background-position: -64px -160px;
  }
}

.player {
  background-image: url('/img/player.png');
  background-position: -96px 0;
  width: 32px;
  height: 32px;
  left: 128px;
  bottom: 268px;
  position: absolute;
  z-index: 10;

  &--look-left {
    background-position: -64px 0;
    &.player--is-walking {
      animation: animateWalkLeft 300ms steps(1);
    }
  }

  &--look-right {
    background-position: 0 0;
    &.player--is-walking {
      animation: animateWalkRight 300ms steps(1);
    }
  }

  &--look-down {
    background-position: -96px 0;
    &.player--is-walking {
      animation: animateWalkDown 300ms steps(1);
    }
  }

  &--look-up {
    background-position: -32px 0;
    &.player--is-walking {
      animation: animateWalkUp 300ms steps(1);
    }
  }

  &--attack-right {
    animation: animateAttackRight 300ms steps(1);
  }

  &--attack-left {
    animation: animateAttackLeft 300ms steps(1);
  }

  &--attack-up {
    animation: animateAttackRight 300ms steps(1);
  }

  &--attack-down {
    animation: animateAttackRight 300ms steps(1);
  }

  &--falling {
    transition: transform 2000ms, opacity 2000ms;
    transform: scale(0) rotate(240deg) translateY(20px);
    opacity: 0;
  }
}

.attack {
  height: 32px;
  width: 32px;
  background-image: url('/img/attack.png');
  opacity: 0;

  &--down {
    opacity: 1;
    transform: translateY(32px);
    background-position: -96px 0;
  }

  &--right {
    opacity: 1;
    transform: translateX(32px);
    background-position: 0 0;
  }

  &--left {
    opacity: 1;
    transform: translateX(-32px);
    background-position: -32px 0;
  }

  &--up {
    opacity: 1;
    transform: translateY(-32px);
    background-position: -64px 0;
  }
}
