@keyframes animateWalkRight {
}

@keyframes animateWalkUp {
}

@keyframes animateWalkLeft {
}

@keyframes animateWalkDown {
}

@keyframes animateAttackRight {
}

@keyframes animateAttackLeft {
}

.player {
  background-image: url('/img/player.png');
  background-position: 0 0;
  width: 64px;
  height: 64px;
  left: 128px;
  bottom: 268px;
  position: absolute;
  z-index: 10;

  &--look-left {
    background-position: -64px 0;
    &.player--is-walking {
      animation: animateWalkLeft 300ms steps(1);
    }
  }

  &--look-right {
    background-position: 0 0;
    &.player--is-walking {
      animation: animateWalkRight 300ms steps(1);
    }
  }

  &--look-down {
    background-position: 0 0;
    &.player--is-walking {
      animation: animateWalkDown 300ms steps(1);
    }
  }

  &--look-up {
    background-position: 0 0;
    &.player--is-walking {
      animation: animateWalkUp 300ms steps(1);
    }
  }

  &--attack-right {
    animation: animateAttackRight 300ms steps(1);
  }

  &--attack-left {
    animation: animateAttackLeft 300ms steps(1);
  }

  &--attack-up {
    animation: animateAttackRight 300ms steps(1);
  }

  &--attack-down {
    animation: animateAttackRight 300ms steps(1);
  }

  &--falling {
    transition: transform 2000ms, opacity 2000ms;
    transform: scale(0) rotate(240deg) translateY(20px);
    opacity: 0;
  }
}

.attack {
  height: 32px;
  width: 32px;
  background-image: url('/img/attack.png');
  opacity: 0;

  &--down {
    opacity: 1;
    transform: translateY(32px);
    background-position: -96px 0;
  }

  &--right {
    opacity: 1;
    transform: translateX(32px);
    background-position: 0 0;
  }

  &--left {
    opacity: 1;
    transform: translateX(-32px);
    background-position: -32px 0;
  }

  &--up {
    opacity: 1;
    transform: translateY(-32px);
    background-position: -64px 0;
  }
}
